<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hello ella hhhh</h1>
    <h2>page: <%= page %>
            <ul>
                <% movies.forEach(elt=> { %>
                    <li><a href=<%=`/detail/${elt.id}`%>
                            <%= elt.title %>
                        </a></li>
                    <% }) %>
            </ul>
    </h2>
    <% if (page<=996 &&page>4) { %>
        <% for( let index=page-4; index < page+5; index++ ) { %>
            <button>
                <a href=<%=`/all/${index} ` %>
                    <%= index %>
                </a>
            </button>
            <% } %>
                <% } else if(page<=4 && page>0){ %>
                    <% for( let index=1; index <10; index++ ) { %>
                        <button>
                            <a href=<%=`/all/${index} ` %>
                                <%= index %>
                            </a>
                        </button>
                        <% } %>
                            <% } %>

</body>

</html>